@import './base.css';

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(105,121,9);
  background: linear-gradient(90deg, rgba(105,121,9,1) 19%, rgba(0,69,255,1) 93%);
  display: flex;
  justify-content: center;
  align-items: center;
}
